body {
  margin: 0;
  padding: 0;
  background: #EBE7E7;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

.charts-container {
    background: #8C8C8E;
    height: 60%;
    width: 100%;
}

.chart {
    display: inline-block;
    width: 40%;
    height: 90%;
    margin: 20px 10px;
}

.table-left-column {
    float: left;
}

.maya-connect {
    background: #50BF9E;
    height: 40%;
    width: 100%;
}

.connect {
    display: inline-block;
    background: white;
    width: 40%;
    height: 60%;
    margin: 20px 10px;
}
